/* Social icons styles */
#footer ul.social li a {
    color: #fff !important;
    transition: transform 0.3s ease, color 0.3s ease;
}

#footer ul.social li a:hover {
    transform: scale(1.2);
	font-weight: 700;
    color: #f8f9fa !important; /* Slightly lighter white on hover */
}

/* Quick links styles */
#footer ul.quick-links {
    display: block !important;
}

#footer ul.quick-links li {
    display: block;
    padding: 3px 0;
}

#footer ul.quick-links li a {
    color: #fff !important;
    text-decoration: none !important;
    transition: color 0.3s ease, margin-left 0.3s ease, font-weight 0.3s ease;
}

#footer ul.quick-links li a:hover {
    color: #f8f9fa !important; /* Slightly lighter white on hover */
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links.is-responsive {
    flex-direction: column !important;
}

/* Media query for small screens */
@media (max-width: 767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0;
        margin-bottom: 10px;
    }
}